<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Input Type Master</title>
</head>
<body>
<h1>Input Type</h1>
<a th:href="@{/input-type/new}">Create New Location Type</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inputTypeMaster : ${inputTypeMaster}">
        <td th:text="${inputTypeMaster.inputTypeMasterId}">ID</td>
        <td th:text="${inputTypeMaster.inputTypeMasterName}">Name</td>
        <td>
            <a th:href="@{/input-type/edit/{id}(id=${inputTypeMaster.inputTypeMasterId})}">Edit</a>
            <a th:href="@{/input-type/delete/{id}(id=${inputTypeMaster.inputTypeMasterId})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
