<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create/Edit Location Type</title>
</head>
<body>
<h1>Create/Edit Location Type</h1>
<form th:action="@{/location-types}" th:object="${locationType}" method="post">
    <input type="hidden" th:if="${locationType.locationTypeMasterId}" th:field="*{locationTypeMasterId}"/>
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{locationTypeMasterName}" placeholder="Enter location type name"/>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<a th:href="@{/location-types}">Back to List</a>
</body>
</html>
